Options All -Indexes
RewriteEngine On

# Si no es un archivo o directorio existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no hay una ruta, redirige al dashboard
RewriteRule ^$ index.php?ruta=dashboard [QSA,L]

# Maneja las rutas dinámicas y permite parámetros GET
RewriteRule ^([-a-zA-Z0-9]+)$ index.php?ruta=$1 [QSA,L]
